<?xml version="1.0" ?>
<settings>
  <localRepository>D:\gm00512957\.m2\repository</localRepository>
  <interactiveMode>false</interactiveMode>
  <mirrors>
    <mirror>
      <id>snapshots</id>
      <mirrorOf>snapshots</mirrorOf>
      <name>Nexu MavenCentral repository</name>
      <url>https://repo1.maven.org/maven2</url>
    </mirror>
    <mirror>
      <id>central</id>
      <mirrorOf>central</mirrorOf>
      <name>Nexus MavenCentral repository</name>
      <url>https://repo1.maven.org/maven2</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
     <!-- <id>nexus</id> -->
	 <activation>
			<activeByDefault>true</activeByDefault>	
		</activation>
      
	 <repositories>
    <repository>
        <id>central</id>
        <url>http://repo1.maven.org/maven2</url>
        <releases>
                <enabled>true</enabled>
        </releases>
        <snapshots>
            <enabled>false</enabled>
        </snapshots>
    </repository>    
    <repository>
      <id>jboss-public-repository-group</id>
      <name>JBoss Public Repository Group</name>
      <url>http://repository.jboss.org/nexus/content/groups/public/</url>
      <layout>default</layout>
      <releases>
        <enabled>true</enabled>
        <updatePolicy>never</updatePolicy>
      </releases>
      <snapshots>
        <enabled>true</enabled>
        <updatePolicy>never</updatePolicy>
      </snapshots>
    </repository>
    <repository>
      <id>deprecated-jboss-repo</id>
      <name>JBoss Deprecated Repository Group</name>
      <url>http://repository.jboss.org/nexus/content/repositories/deprecated</url>
      <layout>default</layout>
      <releases>
        <enabled>true</enabled>
        <updatePolicy>never</updatePolicy>
      </releases>
      <snapshots>
        <enabled>true</enabled>
        <updatePolicy>never</updatePolicy>
      </snapshots>
    </repository>
  </repositories>
  <pluginRepositories>
    <pluginRepository>
        <id>central</id>
        <url>http://repo1.maven.org/maven2</url>
        <releases>
            <enabled>true</enabled>
        </releases>
        <snapshots>
            <enabled>false</enabled>
        </snapshots>
    </pluginRepository>
    <pluginRepository>
      <id>jboss-public-repository-group</id>
      <name>JBoss Public Repository Group</name>
      <url>http://repository.jboss.org/nexus/content/groups/public/</url>
      <releases>
        <enabled>true</enabled>
      </releases>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </pluginRepository>
  </pluginRepositories>
	  
    </profile>
   </profiles>
   <!--<activeProfiles>
     <activeProfile>nexus</activeProfile>
   </activeProfiles> -->
   <pluginGroups>
    <!-- pluginGroup
     | Specifies a further group identifier to use for plugin lookup.
    <pluginGroup>com.your.plugins</pluginGroup>
    -->
    <pluginGroup>org.jvnet.hudson.tools</pluginGroup>
  </pluginGroups>
</settings>
